@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {display: flex; flex-direction: column;}


.header { background-image: url("../../img/fondoNaranja2.jpg"); height: 7vh; display: flex;  align-items: center;
    justify-content: center; font-family: 'Italianno', cursive; font-size: 30px; font-weight: 550; color: white; }


.inicio_container{
    height: 100vh;background-image: url("../../img/inicio.jpg");background-repeat: no-repeat;  background-size: 100% 100%;   width: 100%;
}

/* NAVBAR */

#navBar {width: 100%; display: flex;  justify-content: center; align-items: center;}
#navBar .nav-item:hover{ background-color: rgba(231, 178, 109, 0.452) ;}
#navBar .nav-item a {color: black; font-family: 'Roboto Condensed', sans-serif; font-weight: 600;}
#navBar .nav-item { background-color: rgba(231, 178, 109, 0.24);}


/* FOOTER */

.footer { background: linear-gradient(to bottom, white, black); height:10vh; position:fixed ;bottom: 0; 
    width: 100%; display: flex;  justify-content: center; align-items: center;}
.footer svg { margin: 7px;}



/* FORM */

.form-container { display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vh;
    align-self: center;
    height: 60vh;
    margin-top: 5vh;
    justify-content: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 4px;
    border-color:#05c1c340;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
   }
            
.form-container form {display: flex; flex-direction: column; margin-bottom: 4vh; font-size: 19px;}    

.btn1-form { margin-top:5vh ;
    border-radius: 4px;
    border-width: 1px;
    border-color: transparent;
    height: 6vh; 
background-color: #6c757dcf;
color: white;}
 

button#botonCrearCuenta {background-color: #005f66;}

input#inputPassword5 , input.form-control { font-size: 20px;}



/* REGISTRO */

.registro-container{display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vh;
    align-self: center;
    height: 40vh;
    margin-top: 8vh;
    justify-content: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 4px;
    border-color:#05c1c340;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px; }

.registro-container form {display: flex; flex-direction: column; margin-bottom: 2vh; font-size: 19px;margin-top: 2vh;} 

#botonRegistrar {margin-top: 3vh; background-color:#005f66;}
    

/* TABLA PRODUCTOS */

.tbl-productos h1{font-family: 'Roboto Slab', serif; margin: 4vh 0vh 0vh 0vh;}
#content-tbl-prods table.table.table-dark {--bs-table-bg: #0f4446 ; border-color: cornsilk; 
   
}
.tbl-productos {display: flex;
    flex-direction: column;
    align-items: center;}

#content-tbl-prods { width: 85%;  position: relative;
    box-shadow: 5px -5px 5px 0px rgb(4 5 4 / 34%);
    font-family: 'Roboto Condensed', sans-serif; font-weight: 600;
 }

 

 #firstRowProd { background-color: #0000002f }
 tr.align-middle { --bs-table-bg:#0000002f ; color: black;}


 .tblProds-form {display: flex;
    width: 40vh; margin-bottom: 3vh; margin-top: 3vh;}

    button#botonFiltro {width: 37vh;
    margin-left: 2vh;}

#tbl-prods th { background-color: #166466; color: white;}

#h1-singleProd { margin-bottom: 3vh;}

    /* EDITAR PRODUCTOS  */

.container-addProd { display: flex;
    width: 100%;
    height: 7vh;
    
    justify-content: center;
    margin-top: 3vh;
} 
.container-addCat input {width: 35vh;margin-right: 1vh;}

#singleProd { background-color:#166466 ; }
#singleProd tr {color:white;}
/* TABLA CATEGORIAS */

.tbl-categorias {display: flex;
    flex-direction: column;
    align-items: center;
  
 }

    .tbl-categorias h1{font-family: 'Roboto Slab', serif; margin: 5vh 2vh 4vh 0vh;}

    #content-tbl-cat { width: 85%;  position: relative;
        box-shadow: 5px -5px 5px 0px rgb(4 5 4 / 34%);
        font-family: 'Roboto Condensed', sans-serif;}

    #content-tbl-cat  tr.align-middle {--bs-table-bg:#0000002f; color: black; font-weight: 600;}  

    #firstRowCat{background-color:#166466;}
    #firstRowCat th{color: white; }

    #prod-btns {margin-bottom: 4vh;}


/* EDITAR CATEGORIAS */

.container-addCat { display: flex;
    width: 100%;
    height: 7vh;
    margin-bottom: 3vh;
    justify-content: center;
} 
.container-addCat input {width: 35vh;margin-right: 1vh;}
/* TABLA USUARIOS */

#content-tbl-users {  width: 85%;  position: relative;
    box-shadow: 5px -5px 5px 0px rgb(4 5 4 / 34%);
    font-family: 'Roboto Condensed', sans-serif; }

    #head-tbl-users { background-color:#166466 ; color: white;}   
    #body-tbl-users {background-color:#0000002f }

#h1-users{margin-bottom: 3vh; margin-top: 6vh;} 



#botonAgregar, #botonFiltro {    font-family: 'Roboto Condensed', sans-serif; font-weight: 600;}

#botonEliminar , #botonEditar , #botonVer{ height: 5vh; background-color: #16463bc7; color: white;  border-radius: 5px;font-family: 'Roboto Condensed', sans-serif; font-weight: 600;}

/* ESTRELLAS Y COMENTARIOS */

#comments{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color:red;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

.star-rating__wrap[disabled] { 
	pointer-events: none;
}